<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>asignados</title>
</head>
<body class="bg-gray-100">
    
    <!-- Encabezado -->
<header class="bg-[#678983]">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div>
            <img class="h-12 inline-block mr-2" src="../statics/img/logojusticia.png" alt="Logo">
            <span class="text-lg font-bold text-white">Gestión Penitenciaria</span>
        </div>

      <div class="hidden lg:flex lg:gap-x-12">
        <a href="{{url_for('agregar_datos_espacioasignado')}}" class="text-sm font-semibold leading-6 text-white hover:text-cyan-900">Espacios asignados</a>
  
        <a href="{{url_for('agregar_datos_pabellon')}}" class="text-sm font-semibold leading-6 text-white hover:text-cyan-900"> Pabellón</a>
  
        <a href="{{url_for('agregar_datos_espacios')}}" class="text-sm font-semibold leading-6 text-white hover:text-cyan-900">Espacios</a>
  
        <a href="{{url_for('agregar_datos_ppl')}}" class="text-sm font-semibold leading-6 text-white hover:text-cyan-900"> PPL</a>
        
        <a href="{{url_for('agregar_datos_guardias')}}" class="text-sm font-semibold leading-6 text-white hover:text-cyan-900"> Guardia</a>

      </div>
    </nav>
</header>

    <div class="py-[2rem] lg:px-8 flex flex-col justify-evenly items-center">
        <div class="mx-auto max-w-2xl text-center mb-2">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 -mt-5">Espacios Asignados</h2>
        </div>

    <form class="mx-auto w-1/3 bg-[#F0E9D2] shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post">

        <div class="flex flex-col justify-around h-[28rem]">
            <label for="hora_inicio" class="block text-sm font-bold leading-6 text-gray-900 pb-[1rem]" >Ingrese la hora de inicio</label>
            <input class=" mb-2 block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" name="hora_inicio" id="hora_inicio" type="time">
            
    
            <label for="hora_fin" class="block text-sm font-bold leading-6 text-gray-900 pb-[1rem]">Ingrese la hora final</label>
            <input class=" mb-2 block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" name="hora_fin" id="hora_fin" type="time">

            <label for="fecha" class="block text-sm font-bold leading-6 text-gray-900 pb-[1rem]">Ingrese la fecha</label>
            <input class=" mb-2 block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" name="fecha" id="fecha" type="date">
            
    
            <label for="id_espacio" class="block text-sm font-bold leading-6 text-gray-900 pb-[1rem]">Espacio a utilizar </label>
            <select class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" name="id_espacio" id="id_espacio">
                
                {% for e in lista_espacios %}

                <option value="{{e.id_espacio}}">{{e.nombre_espacio}} </option>

                {% endfor %}
                
            </select>

            <label for="id_guardia" class="block text-sm font-bold leading-6 text-gray-900 pb-[1rem]"> Guardia asignado </label>
            <select class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" name="id_guardia" id="id_guardia">
                
                {% for e in lista_guardias %}

                <option value="{{e.id_guardia}}">{{e.nombre_guardia}} </option>

                {% endfor %}
                
            </select>

            
            
        </div>

        <div class="mt-10">
            <button type="submit" class="block w-full rounded-md bg-[#181D31] px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-cyan-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Guardar</button>
        </div>
    </form>
    
</body>
</html>