<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/sf-mono" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Document</title>
</head>
<header class="bg-[#678983] shadow-md py-4 ">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div>
            <img class="h-12 inline-block mr-2" src="logojusticia.png" alt="Logo"> 
</header>

<body class="bg-gray-100">
    <main class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-100 text-black">

        <!-- Contenedor de los turnos -->
        <section>

            <!-- Titulo Principal -->
            <div class="uppercase text-center font-bold text-2xl mt-4">
                <h1>Distribucion del dia</h1>
            </div>
            <!-- ./Titulo Principal -->
            
            <!-- Contenedor de las tarjetas -->
            <div class="grid grid-cols-1 md:grid-cols-2 p-4 gap-5" id="container">
                
              
            </div>
            <!-- ./Contenedor de las tarjetas -->
        </section>
    </main>
    <script src="/static/script.js"></script>
</body>
</html>